@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

.butn {
    padding: 1% 4% 0.5% 4%;
    margin-left: 43%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.column2 {
  height: 100%;
  float: left;
  width: 30%;
  margin-right: 50px;
}



.box2 {
  margin-left: 100px;
}

.avatar {
  border-radius: 10%;
}

.column3 {
  float: left !important;
  width: 33% !important;
}
h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  font-size: 50px;
}

.profile {
  border: #000000;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  max-width: 300px;
  margin: 20px 5px;
  text-align: center;
  font-family: arial;
  padding: 20px;
  border-radius: 18px;
  background: linear-gradient(
    53deg, #ccfffc, #ffcccf);
}

.profile:hover {
  transform: scale(1.2);
  z-index: 20;
  transition: transform 0.6s;
}
.email {
  color: rgb(39, 33, 33);
  font-size: 18px;
  font-weight: 700;
  overflow-wrap: anywhere;
}
.name {
  font-size: 25px;
  font-weight: bolder;
}

#main {
  padding: 7px 50px;
  margin: 0 auto;
  display: none;
}
.loader {
  margin-left: 20% auto;
}